files:
  "/etc/nginx/conf.d/ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 443 ssl;
        server_name _;

        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/private/server.key;

        location / {
          proxy_pass http://127.0.0.1:8080;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
        }
      }

  "/etc/nginx/conf.d/redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        server_name _;
        return 301 https://$host$request_uri;
      }

container_commands:
  01_download_cert:
    command: |
      aws acm get-certificate --certificate-arn arn:aws:acm:us-east-1:837863412467:certificate/499c7c9b-9103-4d22-97b9-cdb4e9b85c39 --output text > /etc/pki/tls/certs/server.crt
      aws acm get-certificate --certificate-arn arn:aws:acm:us-east-1:837863412467:certificate/499c7c9b-9103-4d22-97b9-cdb4e9b85c39 --output text > /etc/pki/tls/private/server.key
  02_restart_nginx:
    command: "service nginx restart"
