option_settings:
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 3000
    # Other environment variables as needed

# Include Docker, Amazon Linux Extras and Node.js setup
packages:
  yum:
    docker: []
    amazon-linux-extras: []
    nodejs: []

commands:
  01_install_nodejs_and_docker:
    command: |
      sudo amazon-linux-extras install -y docker
      sudo amazon-linux-extras install -y epel
      sudo amazon-linux-extras enable nodejs12
      sudo yum clean metadata
      sudo yum install -y nodejs
