option_settings:
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance

packages:
  yum:
    docker: []
    nodejs: []

commands:
  01_install_nodejs_and_docker:
    command: |
      sudo amazon-linux-extras install -y docker
      sudo amazon-linux-extras install -y epel
      sudo amazon-linux-extras enable nodejs12
      sudo yum clean metadata
      sudo yum install -y nodejs
