Resources:
  securitygroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId:
        Fn::GetAtt:
          - AWSEBSecurityGroup
          - GroupId
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
  securitygroupIngress3000:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId:
        Fn::GetAtt:
          - AWSEBSecurityGroup
          - GroupId
      IpProtocol: tcp
      ToPort: 3000
      FromPort: 3000
      CidrIp: 0.0.0.0/0
